- name: Sign our CSR with acme-tiny
  shell: >
    python3 {{ acme_ssl_base_folder }}/acme-tiny/acme_tiny.py
    --account-key "{{ acme_ssl_base_folder }}/account.key"
    --csr "{{ current_domain_folder }}/domain.csr"
    --acme-dir "{{ acme_challenges_folder_path }}"
    > {{ current_domain_folder }}/signed.crt

- name: Fetch Lets Encrypt intermediate cert
  get_url:
    url: https://letsencrypt.org/certs/lets-encrypt-x3-cross-signed.pem
    dest: "{{ current_domain_folder }}/intermediate.pem"
    force: yes
    
- name: Create fullchain cert
  shell: "cat signed.crt intermediate.pem > chained.pem"
  args:
    chdir: "{{ current_domain_folder }}"
  notify: nginx restart

- name: setup domain fullchain perms
  file:
    path: "{{ current_domain_folder }}/chained.pem"
    owner: "{{ acme_user }}"
    group: www-data
    mode: 0640
  become: no

